<section id="contact" class="container moduleForm shortPadding">
    <div class="inner">
      <div class="grid">
        <div class="grid__col grid__col--6-of-12">

          <h1 class="headingText">
            Contact
          </h1>
          <form>

            <!-- <label for="fname">First name*</label> -->
            <input type="text" id="fname" name="firstname" placeholder="First name*">

            <!-- <label for="lname">Last Name*</label> -->
            <input type="text" id="lname" name="lastname" placeholder="Last name*">

            <!-- <label for="country">E-mail address</label> -->
            <input type="text" id="emailAddress" name="lastname" placeholder="E-mail address*">


            <!-- <label for="subject">Subject</label> -->
            <input id="subject" name="subject" placeholder="Subject*"></textarea>

            <!-- <label for="subject">Message</label> -->
            <textarea id="message" name="message" placeholder="Message*"></textarea>

            <input class="inputButton" type="submit" value="Submit">

          </form>
        </div>

        <div class="grid__col grid__col--6-of-12">

          <h1 class="headingText">
            Subscribe to newsletter
          </h1>
          <form>

            <!-- <label for="fname">First name*</label> -->
            <input type="text" id="fname2" name="firstname" placeholder="First name*">

            <!-- <label for="lname">Last Name*</label> -->
            <input type="text" id="lname2" name="lastname" placeholder="Last name*">

            <!-- <label for="country">E-mail address</label> -->
            <input type="text" id="emailAddress2" name="lastname" placeholder="E-mail address*">


            <!-- <label for="subject">Subject</label> -->
            <input id="company" name="company" placeholder="Company"></textarea>

            <!-- <label for="subject">Message</label> -->


            <input class="inputButton" type="submit" value="Submit">

          </form>
        </div>

      </div>
    </div>
  </section>