<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} — {{site.title}}</title>
    <link rel="stylesheet" href="/css/hamburgers.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- GOOGLE FONTS, DM Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,300&display=swap" rel="stylesheet">
  </head>
  {% if page.bodyClass %}
  <body class="{{page.bodyClass}}">
    {% else %}
    <body>
    {% endif %}
  <div class="header">
    <div class="grid" >
      <div class="grid__col grid__col--6-of-12">
        <a href="/">
        <img src="/images/LilacSolutionslogotransparent.png">
      </a>
      </div>
      <div class="grid__col grid__col--6-of-12">
        <ul class="navBar">
          {% if page.url == "/" %}
          <li class="mono navItem-active"><a href="/">Lithium</a></li>
          {% else %}
          <li class="mono"><a href="/">Lithium</a></li>
          {% endif %}

          {% if page.url == "/technology.html" %}
          <li class="mono navItem-active"><a href="/technology.html">Technology</a></li>
          {% else %}
          <li class="mono"><a href="/technology.html">Technology</a></li>
          {% endif %}
          
          {% if page.url == "/news/index.html" %}
          <li class="mono navItem-active"><a href="/news">News</a></li>
          {% else %}
          <li class="mono"><a href="/news">News</a></li>
          {% endif %}
          
          {% if page.url == "/careers.html" %}
          <li class="mono navItem-active"><a href="/careers.html">Careers</a></li>
          {% else %}
          <li class="mono"><a href="/careers.html">Careers</a></li>
          {% endif %}
          <li class="mono"><a href="#contact">Contact</a></li>
        </ul>
        <div class="hamburger-container">
        <div class="hamburger hamburger--minus">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>