<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} — {{site.title}}</title>
    <link rel="stylesheet" href="/css/hamburgers.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  {% if page.bodyClass %}
  <body class="{{page.bodyClass}}">
    {% else %}
    <body>
    {% endif %}
  <div class="header">
    <div class="grid" >
      <div class="grid__col grid__col--6-of-12">
        <a href="/">
        <img src="/images/LilacSolutionslogotransparent.png">
      </a>
      </div>
      <div class="grid__col grid__col--6-of-12">
        <ul class="navBar">
          {% if page.url == "/" %}
          <li class="mono navItem-active"><a href="/">Lithium</a></li>
          {% else %}
          <li class="mono"><a href="/">Lithium</a></li>
          {% endif %}

          {% if page.url == "/technology.html" %}
          <li class="mono navItem-active"><a href="/technology">Technology</a></li>
          {% else %}
          <li class="mono"><a href="/technology">Technology</a></li>
          {% endif %}
          
          {% if page.url == "/news/index.html" %}
          <li class="mono navItem-active"><a href="/news">News</a></li>
          {% else %}
          <li class="mono"><a href="/news">News</a></li>
          {% endif %}
          
          {% if page.url == "/careers.html" %}
          <li class="mono navItem-active"><a href="/careers">Careers</a></li>
          {% else %}
          <li class="mono"><a href="/careers">Careers</a></li>
          {% endif %}
          <li class="mono"><a href="#contact">Contact</a></li>
        </ul>
        <div class="hamburger-container">
        <div class="hamburger hamburger--minus">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>