<section class="container moduleBody">
    <div class="inner">
      <div class="grid">
        <div class="grid__col grid__col--12-of-12 grid__col--m-4-of-4">
          <div class="monoText sectionHeader">
            Ion exchange
          </div>
        </div>
        <div class="grid__col grid__col--6-of-12 grid__col--m-4-of-4">
          <h1 class="headingText">
            Proven and reliable
          </h1>
        </div>
        <div class="grid__col grid__col--6-of-12 grid__col--m-4-of-4">
          <p class="bodyText">
Lilac produces its ion exchange beads and delivers these beads to brine projects worldwide. The beads are loaded into tanks, brine is flowed through the tanks, and as the brine percolates through the beads, the beads absorb lithium out of the brine. Once the beads are saturated with lithium, hydrochloric acid is used to flush out the lithium, yielding lithium chloride. Lithium chloride is the “crude oil” of lithium – the standard intermediary in every lithium brine project today. The lithium chloride is then processed on-site with conventional process equipment to yield a finished product. The product – lithium carbonate or lithium hydroxide – is sold to battery makers.
          </p>
        </div>

      </div>

      <div class="grid">
        <div class="grid__col grid__col--6-of-12">
          <img class="halfImage" src="images/ConventionalProcess.png">
        </div>
        <div class="grid__col grid__col--6-of-12">
          <img class="halfImage" src="images/LilacSolutionProcess.png">
        </div>
      </div>
    </div>
  </section>