{% include header.html %}

{% for module in page.modules %}

    {% if module.name == "bodyText" %}
        {% include bodyText.html heading=module.heading preamble=module.preamble body=module.body %}

    {% elsif module.name == "bodyTextPageHeader" %}
        {% include bodyTextPageHeader.html heading=module.heading preamble=module.preamble body=module.body %}

    {% elsif module.name == "headerBodyButton" %}
        {% include headerBodyButton.html heading=module.heading preamble=module.preamble body=module.body buttonText=module.buttonText buttonUrl=module.buttonUrl buttonIcon=module.buttonIcon %}

    {% elsif module.name == "hero" %}
        {% include hero.html heading=module.heading imgSrc=module.imgSrc class=module.class %}

    {% elsif module.name == "image" %}
        {% include image.html imageSrc=module.imageSrc alt=module.alt %}

    {% elsif module.name == "superHeaderBody" %}
        {% include superHeaderBody.html heading=module.heading preamble=module.preamble body=module.body %}

    {% elsif module.name == "table" %}
        {% include table.html %}

    {% elsif module.name == "imageText" %}
        {% include imageText.html %}
    {% endif %}

{% endfor %}

{% include footer.html %}