{% include header.html %}

<section class="container newsHeader">
    <div class="inner">
        <div class="grid">
            <div class="grid__col grid__col--12-of-12">
                <div class="monoText sectionHeader">
                    News / {{page.title}} / {{ page.date | date: "%m/%d/%Y" }}
                </div>
            </div>
        </div>
    </div>
</section>

{% if page.featured %}
<section class="container moduleImage container--tight">
    <div class="inner">
        <div class="grid">
            <div class="grid__col grid__col--12-of-12">
                <img src="{{page.featured}}" alt="{{page.title}}">
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="container container--tight">
    <div class="inner">
        <div class="grid">
            <div class="grid__col grid__col--6-of-12">
                <h1 class="headingText newsHeading">{{page.title}}</h1>
            </div>
            <div class="grid__col grid__col--6-of-12">
                <div class="bodyText newsText">{{page.content}}</div>
            </div>
        </div>
    </div>
</section>

{% for module in page.modules %}

        {% include bodyTextNews.html heading=module.heading body=module.body %}

{% endfor %}

<section class="container container--tight">
    <div class="inner">
        <div class="grid">
            <div class="grid__col grid__col--6-of-12">
                <h1 class="headingText newsHeading">About Lilac Solutions</h1>
            </div>
            <div class="grid__col grid__col--6-of-12">
                <p class="bodyText">Lilac Solutions is a lithium extraction technology company based in Oakland,
                    California. Lilac has developed a patented ion exchange technology that facilitates production of
                    lithium from brine resources with high efficiency, minimal cost, and ultra-low environmental
                    footprint. Lilac’s mission is to scale global lithium production to support the electric vehicle
                    industry and energy transition.<br><br>For more information, please visit <a href="https://www.lilacsolutions.com/" class="inline">https://www.lilacsolutions.com/</a></p>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="inner">
        <div class="grid">
            <div class="grid__col grid__col--6-of-12">
                <h1 class="headingText newsHeading">Media Contacts</h1>
            </div>
            <div class="grid__col grid__col--6-of-12">
                <p class="bodyText">Lilac Solutions<br>
                    <a class="inline" href="mailto:press@lilacsolutions.com">press@lilacsolutions.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- <section class="container pagination">
    <div class="inner">
        <div class="grid">
            <div class="grid__col grid__col--6-of-12">
                {% if page.previous %}
                <p class="pagination-link pagination-link--previous"><a href="{{ site.baseurl }}{{page.previous.url}}">
                        < Previous post</a>
                </p>
                {% endif %}
            </div>
            <div class="grid__col grid__col--6-of-12">
                {% if page.next %}
                <p class="pagination-link pagination-link--next"><a href="{{ site.baseurl }}{{page.next.url}}">Next post
                        ></a></p>
                {% endif %}
            </div>
        </div>
    </div>
</section> -->

{% include footer.html %}